.inicio-content {
  height: 100vh; // Ocupa todo el alto de la pantalla
  --background: #f0f4f8; // Color de fondo suave
  padding: 0; // Elimina el padding exterior

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0; // Elimina el espacio entre los subcomponentes

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh; // Ajusta automáticamente según el contenido
      padding-top: 80px;
      width: 100%;
      background-color: white; // Fondo blanco
      margin: 0; // Elimina márgenes
    }

    .datos-container {
      height: auto; // Ajusta la altura al contenido
      padding: 8px; // Reducir el espacio interno
      background-color: white; // Fondo blanco
      margin: 0; // Elimina el espacio extra
    }
  }

  app-configuracion-component {
    margin-top: 8px; // Espacio mínimo entre los elementos
  }
}
