ion-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px; // Espaciado superior

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover; // Para mantener las proporciones de la imagen
  }

  .no-image-text {
    text-align: center;
    font-size: 16px;
    color: #aaa; // Color de texto para el mensaje de "No hay imágenes disponibles"
  }
}
