ion-card {
  margin: 4px;
  box-shadow: 0 2px 4px rgba(163, 207, 204, 0.1);
  background-color: #f8f9fa; /* Fondo claro de la tarjeta */
  max-height: max-content; /* Establece una altura máxima para la tarjeta */
  /* Sin border-radius */

  /* Encabezado */
  ion-card-header {
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    padding: 10px;

    ion-card-title {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  /* Contenido */
  ion-card-content {
    padding: 8px;

    .sensor-data {
      display: flex;
      justify-content: space-between; /* Reparte el espacio a izquierda y derecha */
      align-items: center;
      padding: px;
      position: relative;

      /* Línea divisoria sutil entre los dos datos */
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px; /* Ancho de la línea */
        background-color: rgba(0, 0, 0, 0.1); /* Línea sutil */
        margin-left: -1px; /* Asegura que la línea esté justo en el centro */
      }

      .data-item {
        display: flex;
        flex-direction: column;
        text-align: center; /* Centrado del texto */
        flex: 1; /* Asegura que ambos lados ocupen el mismo espacio */

        ion-label {
          font-size: 0.9rem;
          color: #495057;

          &:first-of-type {
            font-weight: bold;
            margin-bottom: 4px; /* Espacio entre etiqueta y valor */
          }

          &:last-of-type {
            color: #6c757d;
            font-style: italic;
          }
        }
      }
    }
  }

  /* Responsive Design */
  @media (max-width: 768px) {
    ion-card-content {
      .sensor-data {
        flex-wrap: nowrap; /* Asegura que los datos permanezcan en una fila */
        justify-content: space-between;
        align-items: center; /* Los datos siguen centrados */
      }
    }
  }

  @media (max-width: 480px) {
    ion-card-content {
      .sensor-data {
        .data-item {
          font-size: 0.85rem; /* Reducir tamaño de texto en pantallas muy pequeñas */
        }
      }
    }
  }
}
