<ion-card>
  <ion-card-header>
    <ion-card-title>🛠 Editar Información</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form (ngSubmit)="guardarCambios()">
      <!-- Input para cambiar el nombre -->
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="nombre" name="nombre"></ion-input>
      </ion-item>

      <!-- Input para cambiar la edad -->
      <ion-item>
        <ion-label position="stacked">Edad</ion-label>
        <ion-input type="number" [(ngModel)]="edad" name="edad"></ion-input>
      </ion-item>

      <!-- Input para cambiar el texto -->
      <ion-item>
        <ion-label position="stacked">Editar Texto</ion-label>
        <ion-textarea [(ngModel)]="texto" name="texto"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre de su Dispositivo</ion-label>
        <ion-textarea [(ngModel)]="dispositivo" name="dispositivo"></ion-textarea>
      </ion-item>
      <!-- Input para cambiar la imagen -->
      <ion-item>
        <ion-label position="stacked">Nueva Imagen</ion-label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </ion-item>

      <!-- Botón para guardar cambios -->
      <ion-button expand="block" type="submit" color="success">
        Guardar Cambios
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
